{%
	set page = {"title":"Fresh Thoughts. Articles from members of Outside Perpective - a curated community of independent and freelance strategic people"}
%}{% extends '_base.html' %}
{% block main %}

	<style>
		
		
	</style>
	<div class="inner">
		<h1>Fresh Thoughts<br/>
			<span style="font-weight: normal">Articles from our community members.</span></h1>
		<p>Read a collection of ideas, thinking and outside perspectives from a selection of our members. All authors are available to collaborate with - just <a href="/#workwithus">post a brief</a></p>
		
		
	
		
		<div class="articlelist">
			
			{% for article in articles %}
			<a href="/article/{{article.slug}}.html" class="article">
				<div class="image"><img src="{{article.metadata.image_primary.imgix_url}}?w=400"></div>
				<div class="preview">
					<h3>{{article.metadata.title}}</h3>
					<div class="author">by {{article.metadata.author.name}}</div>
					<div class="description">{{article.metadata.description}}</div>
				</div>
			</a>
			{% endfor %}
			
			
			
		</div>
	</div>
	
	
	
	
	<div class="inner" style="margin-top: 200px; padding-bottom: 50px"><a href="/">Back home</a></div>
{% endblock %}