{%
	set page = {
				"title":"Work with the world's best independent and impartial strategists - Outside Perspective.",
				"description":"Share a brief with our curated community of strategists"
			    }
%}{% extends '_base.html' %}
{% block main %}

	<style>
		
		h1 { margin-bottom: 0; }
		.author { display: inline-block; border-bottom: 1px solid black; padding-bottom: 15px; margin-bottom: 100px; padding-right: 100px; }
		.article .body { max-width: 700px; margin-top: 100px; }
		.image img { width: 100%; object-fit: cover; max-height: 600px; }
		h3 { margin-top: 50px; }
		
		
	</style>
	<div class="inner">
		<h1>Do better work<br/>
		with impartial, independent strategists</h1>
	</div>
	<!--<div class="inner">
		<div class="image"><img src="{{article.metadata.image_primary.imgix_url}}?w=1200"></div>
	</div>-->
	<div class="article inner">
		<div class="body">
			
			
			<p>You know the benefits of working with independent strategists.</p>
			<p>But finding good ones is hard.</p>
			<p>Retaining the trusted ones is even harder.</p>
			
			<p>
				<strong>We've gathered the smartest self-employed strategy people into a curated community.</strong>
			</p>
			
			<p>You can post your brief, to find the best strategy on-demand.</p>
			<p>No charge - if you follow our <a href="/terms.html">rules</a> of engagement.</p>
			
			
			<p style="margin-top: 50px; margin-bottom: 50px; font-size: 150%"><a href="mailto:briefs@outsideperspective.co">[ post your brief ]</a></p>
			
			
		</div>
		
	</div>
	
	
	<style>
		.brands { display: grid;
		  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		  grid-gap: 10px; margin-top: 40px; }
	</style>
	<div class="inner" style="text-align: center; margin-top: 100px; ">
		<p>Our members have supported businesses including:</p>
		
		{% set brands = ["accenture","adidas","bupa","ey","ftv","gofrendly","google","klarna","lego","linkedin","mind","morganstanley","nike","olx","penguin","png","sainsbury","sumup","unilever","unltd"] %}
		<div class="brands">
		{% for brand in brands %}
		<div class="logo"><img src="/img/client-{{brand}}.png" style="width: 100px; opacity: 0.8"></div>
		{% endfor %}
		</div>
		
		<p style="max-width: 600px; margin: 0 auto;margin-top: 50px;  ">We're ex-CSO, ex-CMO, ex-Head of Strategy, ex-brand, ex-agency, ex-consultancy. We're a blend of super-senior down to established and emerging planners, strategists, specialists and generalists. We're commercial, communication, brand, insight, product, innovation, business, experience and integrated strategists. We're the brains behind some of the best work in the world.</p>
	</div>	
	
	<div class="article inner">
		<div class="body">		
			
			<h2 style="margin-top: 150px;">Other ways we can help ...</h2>
			
			<p><strong>Not sure of the brief?</strong><br/>Let's <a href="mailto:workwith@outsideperspective.co">write it together</a>.</p>
			
			<p><strong>Need a strategy, not a strategist?</strong><br/>
			We'll <a href="mailto:workwith@outsideperspective.co">just get it done</a>.</p>
			
			<p><strong>Looking to build your own network of trusted talent?</strong><br/>
			We <a href="mailto:workwith@outsideperspective.co">do this too</a>.</p>
			
		</div>
	</div>
	
	
	
{% endblock %}