{% extends '_base.html' %}
{% block main %}

	<style>
		
		h1 { margin-bottom: 0; }
		.author { display: inline-block; border-bottom: 1px solid black; padding-bottom: 15px; margin-bottom: 100px; padding-right: 100px; }
		.article .body { max-width: 700px; margin-top: 100px; }
		.image img { width: 100%; object-fit: cover; max-height: 600px; }
		h3 { margin-top: 50px; }
		
		
	</style>
	<div class="inner">
		<h1>Work with impartial,<br/>independent strategists</h1>
	</div>
	<!--<div class="inner">
		<div class="image"><img src="{{article.metadata.image_primary.imgix_url}}?w=1200"></div>
	</div>-->
	<div class="article inner">
		<div class="body">
			
			
			<p><strong>No business can afford to ignore the importance of strategic work - but not every business needs or can afford full-time strategic staff.</strong></p>
			
		</div>
		
	</div>
	
	<div class="wider">
		<p style="font-size: 40px; style=max-width: 1200px;">Calling upon independent strategists gives your organisation experience across limitless sectors, disciplines and markets on-demand.</p>
	</div>
	
	<div class="article inner">
		<div class="body">
			
			<p>But <strong>finding trusted and respected strategists can be hard. So we're gathering them in a single place</strong>, a curated community of the best impartial, independent strategists.</p>
			
			<p>We're ex-CSO, ex-CMO, ex-Head of Strategy, ex-brand, ex-agency, ex-consultancy. We're a blend of super-senior down to established and emerging planners, strategists, specialists and generalists. We're commercial, communication, brand, insight, product, innovation, business, experience and integrated strategists. We're the brains behind some of the best work in the world.</p>
			
			<p>We're simplifying things. No recruiter costs. No subscriptions. No complex platform.
			Just share your brief, and get responses from our curated community of top talent.</p>
			
		</div>
	</div>
	
	

	<style>
		.brands { display: grid;
		  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		  grid-gap: 10px; margin-top: 40px; }
	</style>
	<div class="inner" style="text-align: center; margin-top: 50px; ">
		<p>Our members have supported businesses including:</p>
		
		{% set brands = ["accenture","adidas","bupa","ey","ftv","gofrendly","google","klarna","lego","linkedin","mind","morganstanley","nike","olx","penguin","png","sainsbury","sumup","unilever","unltd"] %}
		<div class="brands">
		{% for brand in brands %}
		<div class="logo"><img src="/img/client-{{brand}}.png" style="width: 100px; opacity: 0.8"></div>
		{% endfor %}
		</div>
	</div>	
	
	<div class="article inner">
		<div class="body">		
			
			<h2 style="margin-top: 80px;">Three easy options ...</h2>
			
			<p>
				<h3>A/ Post a brief - whenever you need.</h3>
				We'll share the project with the community, and they'll be in touch directly. All we ask is that you uphold Freelance Friendly ways of working. It's free. <a href="mailto:briefs@outsideperspective.co">Email us your brief</a>
			</p>
				
			
			<p>
				<h3>B/ We'll help you write a brief.</h3>
			Sometimes it's not clear who or what you need. Work with us to rapidly understand your project and figure out what sort of person, team or approach you need. This costs. <a href="mailto:workwithus@outsideperspective.co">Let's chat to understand how we can help.</a></p>
			
			<p>
				<h3>C/ Build your own talent network.</h3>
			Get ahead of the brief. Work with us to create an engaged community of trusted individuals, based upon your business ambition and needs. This costs. <a href="mailto:workwithus@outsideperspective.co">Let's arrange a discovery call to get started.</a></p>
			
			
		</div>
	</div>
	
	
	
{% endblock %}